.video-img{
    margin-top: 350px;
    background-image: url(../image/vImg.png);
    height: 50vh;
    background-repeat: no-repeat;
    padding-top: 100px;
    filter:brightness(35%);
    position: relative;
   
}
.video-content {
    padding: 35px;
    text-align: center;
    margin-top: -113px;
    width: 100%;
    display: flex;
    z-index: 0;
    position: absolute;
    justify-content: space-between;
}
.video-area  h1 {
    color: #fff;

}



.youtube{
    position: absolute;
    min-width: 740px;
    margin-top: -550px;
    align-items: center;
    left: 250px;
}